body {
  background: #FFF6DF;
  font-family: "Droid Sans", sans-serif;
}

header h1 {
  font-size: 1.5em;
  text-align: center;
}

#presentation {
  border-top: 1px solid #CCC;
}

#about {
  overflow: hidden;
}

#about img {
  float: left;
  margin-right: 1em;
  height: 131px;
  width: 100px;
}

#read {
  margin-bottom: 2em;
  text-align: center;
}

#read p {
  margin-top: 0.5em;
}

.action {
  background: #D32C36;
  border-radius: 5px;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
}

.disable {
  opacity: 0.5;
}

#authors {
  border-top: 1px solid #CCC;
}

.author {
  overflow: hidden;
  margin-bottom: 1em;
}

.author img {
  border: 3px solid white;
  border-radius: 10px;
  float: left;
  margin-right: 1em;
  height: 80px;
  width: 80px;
}

.author h4, .author p {
  margin: 0.3em;
}

footer {
  border-top: 1px solid #CCC;
  font-size: 0.7em;
  padding: 0.5em 0;
  text-align: center;
}

@media only screen and (min-width: 670px) {
  body {
    width: 670px;
    margin: 0 auto;
  }

  #about img {
    height: 262px;
    width: 200px;
  }

  #authors {
    overflow: hidden;
  }

  .author {
    float: left;
    width: 45%;
  }

  #maynkj {
    float: right;
  }
}
